//META{"name":"ED Marine","description":"A better looking Discord! Up to date and easy to customize","author":"Spectra#7698","version":"1.3.4"}*//{}
/*
███████╗███╗   ██╗██╗  ██╗ █████╗ ███╗   ██╗ ██████╗███████╗██████╗     ██████╗ ██╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗
██╔════╝████╗  ██║██║  ██║██╔══██╗████╗  ██║██╔════╝██╔════╝██╔══██╗    ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗
█████╗  ██╔██╗ ██║███████║███████║██╔██╗ ██║██║     █████╗  ██║  ██║    ██║  ██║██║███████╗██║     ██║   ██║██████╔╝██║  ██║
██╔══╝  ██║╚██╗██║██╔══██║██╔══██║██║╚██╗██║██║     ██╔══╝  ██║  ██║    ██║  ██║██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║
███████╗██║ ╚████║██║  ██║██║  ██║██║ ╚████║╚██████╗███████╗██████╔╝    ██████╔╝██║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝
╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝╚═════╝     ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝

███╗   ███╗ █████╗ ██████╗ ██╗███╗   ██╗███████╗
████╗ ████║██╔══██╗██╔══██╗██║████╗  ██║██╔════╝
██╔████╔██║███████║██████╔╝██║██╔██╗ ██║█████╗
██║╚██╔╝██║██╔══██║██╔══██╗██║██║╚██╗██║██╔══╝
██║ ╚═╝ ██║██║  ██║██║  ██║██║██║ ╚████║███████╗
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
========================================
#  Enhanced Discord Theme              #
#  By Spectra#7698                     #
#  Version: 1.3.4                      #
========================================
*/
@import url('https://cdn.rawgit.com/codedotspectra/enhanceddiscord/bc1438f3/css/enhanceddiscord.theme.css');
/*  COLORS  */
:root {
  --main-color: #006bb3;
  --dark: #000a19;
  --grey: #02274b;
  --light: #003d66;
  --links: #ff9933;
}
