//META{"name":"ED Dark Matter","description":"A better looking Discord! Up to date and easy to customize","author":"Spectra#7698","version":"1.3.4"}*//{}
/*
███████╗███╗   ██╗██╗  ██╗ █████╗ ███╗   ██╗ ██████╗███████╗██████╗     ██████╗ ██╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗
██╔════╝████╗  ██║██║  ██║██╔══██╗████╗  ██║██╔════╝██╔════╝██╔══██╗    ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗
█████╗  ██╔██╗ ██║███████║███████║██╔██╗ ██║██║     █████╗  ██║  ██║    ██║  ██║██║███████╗██║     ██║   ██║██████╔╝██║  ██║
██╔══╝  ██║╚██╗██║██╔══██║██╔══██║██║╚██╗██║██║     ██╔══╝  ██║  ██║    ██║  ██║██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║
███████╗██║ ╚████║██║  ██║██║  ██║██║ ╚████║╚██████╗███████╗██████╔╝    ██████╔╝██║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝
╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝╚═════╝     ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝
·▄▄▄▄   ▄▄▄· ▄▄▄  ▄ •▄     • ▌ ▄ ·.  ▄▄▄· ▄▄▄▄▄▄▄▄▄▄▄▄▄ .▄▄▄
██▪ ██ ▐█ ▀█ ▀▄ █·█▌▄▌▪    ·██ ▐███▪▐█ ▀█ •██  •██  ▀▄.▀·▀▄ █·
▐█· ▐█▌▄█▀▀█ ▐▀▀▄ ▐▀▀▄·    ▐█ ▌▐▌▐█·▄█▀▀█  ▐█.▪ ▐█.▪▐▀▀▪▄▐▀▀▄
██. ██ ▐█ ▪▐▌▐█•█▌▐█.█▌    ██ ██▌▐█▌▐█ ▪▐▌ ▐█▌· ▐█▌·▐█▄▄▌▐█•█▌
▀▀▀▀▀•  ▀  ▀ .▀  ▀·▀  ▀    ▀▀  █▪▀▀▀ ▀  ▀  ▀▀▀  ▀▀▀  ▀▀▀ .▀  ▀
========================================
#  Enhanced Discord Theme              #
#  By Spectra#7698                     #
#  Version: 1.3.4                      #
========================================
*/

/*  COLORS  */
:root {
  --main-color: #371b4b;
  --dark: #0d0a10;
  --grey: #1a1320;
  --light: #291e2e;
  --links: #4d79ff;

}
